      <div class="feature">
<% unless @submissions.nil? %>
  <% @submissions.each_with_index do |sub, index| %>
        <div class="feature-wrap">
          <div class="feature-img has-hover" style="background-image: url(<%= sub.graphic.url %>)" href="#">
            <div class="feature-hover">
              <div class="feature-vote">
    <% if user_signed_in? %>
      <% if current_user.recent_vote == @code.id %>
                <%= sub.votes %>
        <% percentage = sub.votes / @total %>
        <% if index == 0 %>
                <div class="half half--filled half--left"></div>
          <% if percentage >= 0.5 %>
                <div class="half half--filled half--left" data-rotate="<%= -(360 * (percentage - 0.5)).round %>"></div>
          <% else %>
                <div class="half half--empty half--right" data-rotate="<%= (360 * (0.5 - percentage)).round %>"></div>
          <% end %>
        <% else %>
                <div class="half half--filled half--right"></div>
          <% if percentage >= 0.5 %>
                <div class="half half--filled half--right" data-rotate="<%= (360 * (percentage - 0.5)).round %>"></div>
          <% else %>
                <div class="half half--empty half--left" data-rotate="<%= -(360 * (0.5 - percentage)).round %>"></div>
          <% end %>
        <% end %>
      <% else %>
                <%= link_to "Vote", vote_path(sub), method: :put, class: "tdn" %>
      <% end %>
    <% else %>
                <%= link_to "Vote", new_user_session_path, class: "tdn" %>
    <% end %>
              </div>
              <div class="feature-artist">
    <% if sub.website.present? %>
                <%= link_to (sub.artist.blank? ? "Anonymous" : sub.artist), sub.website, class: "tci" %>
    <% else %>
                <%= sub.artist.blank? ? "Anonymous" : sub.artist %>
    <% end %>
              </div>
    <% if sub.has_socials? %>
              <div class="feature-share">
      <% if sub.behance.present? %>
                <a href="<%= sub.behance %>"><svg class="icon icon-behance"><use xlink:href="#icon-behance"></use></svg></a>
      <% end %>
      <% if sub.dribbble.present? %>
                <a href="<%= sub.dribbble %>"><svg class="icon icon-dribbble"><use xlink:href="#icon-dribbble"></use></svg></a>
      <% end %>
      <% if sub.facebook.present? %>
                <a href="<%= sub.facebook %>"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a>
      <% end %>
      <% if sub.instagram.present? %>
                <a href="<%= sub.instagram %>"><svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg></a>
      <% end %>
      <% if sub.pinterest.present? %>
                <a href="<%= sub.pinterest %>"><svg class="icon icon-pinterest"><use xlink:href="#icon-pinterest"></use></svg></a>
      <% end %>
      <% if sub.twitter.present? %>
                <a href="<%= sub.twitter %>"><svg class="icon icon-twitter2"><use xlink:href="#icon-twitter"></use></svg></a>
      <% end %>
              </div>
    <% end %>
            </div>
          </div>
        </div>
  <% end %>
<% end %>
      </div>