<div>
  <%= form_for @code do |f| %>
    <div class="field is-required">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :message %><br>
      <%= f.text_area :message, class: "textarea" %>
    </div>
    <div class="field">
      <%= f.submit class: "button button--a" %>
      <%= link_to "Go Back", codes_path, class: "button button--b" %>
    </div>
  <% end %>
</div>