<% title "Codes" %>
      <div class="cell plm prm">
        <div class="mbm"><%= link_to "Create New", new_code_path, class: "button button--a" %></div>
<% if @feature.present? %>
  <% code = @feature %>
        <div class="list">
          <div class="subtitle">Featured Code</div>
          <div class="list-item mbm">
            <div class="list list--inline list--flex">
              <div class="list-item list-item--grow ellipsis mrm">
                <%= code.title %><br>
                <span class="tsxs"><%= pluralize(code.submissions.size, "submission") %></span>
              </div>
              
              <%= link_to edit_code_path(code), class: "list-item", title: "Edit" do %>
                <svg class="icon icon-edit"><use xlink:href="<%= image_url("icons.svg") %>#icon-edit"></use></svg>
              <% end %>
            </div>
          </div>
        </div>
<% end %>

<% if @queued.any? %>
        <div class="list">
          <div class="subtitle">Queued <%= pluralize!(@queued.size, "Code") %></div>
  <% @queued.each do |code| %>
          <div class="list-item mbm">
            <div class="list list--inline list--flex">
              <div class="list-item list-item--grow ellipsis mrm">
                <%= code.title %><br>
                <span class="tsxs"><%= pluralize(code.submissions.size, "submission") %></span>
              </div>
              <%= link_to edit_code_path(code), class: "list-item mrm", title: "Edit" do %>
                <svg class="icon icon-edit"><use xlink:href="<%= image_url("icons.svg") %>#icon-edit"></use></svg>
              <% end %>
              <%= link_to new_code_submission_path(code), class: "list-item mrm", title: "Submit Graphic" do %>
                <svg class="icon icon-upload"><use xlink:href="<%= image_url("icons.svg") %>#icon-upload"></use></svg>
              <% end %>
              <%= link_to dequeue_code_path(code), method: :put, class: "list-item mrm", title: "Dequeue" do %>
                <svg class="icon icon-redo"><use xlink:href="<%= image_url("icons.svg") %>#icon-redo"></use></svg>
              <% end %>
              <%= link_to edit_code_path(code), method: :delete, class: "list-item", title: "Remove", data: {confirm: "Are you sure you want to remove the code \"#{code.title}\"?"} do %>
                <svg class="icon icon-cross"><use xlink:href="<%= image_url("icons.svg") %>#icon-cross"></use></svg>
              <% end %>
            </div>
          </div>
  <% end %>
        </div>
<% end %>

<% if @codes.any? %>
        <div class="list">
          <div class="subtitle">Other <%= pluralize!(@codes.size, "Code") %></div>
  <% @codes.each do |code| %>
          <div class="list-item mbm">
            <div class="list list--inline list--flex">
              <div class="list-item list-item--grow ellipsis mrm">
                <%= code.title %><br>
                <span class="tsxs"><%= pluralize(code.submissions.size, "submission") %></span>
              </div>
              <%= link_to edit_code_path(code), class: "list-item mrm", title: "Edit" do %>
                <svg class="icon icon-edit"><use xlink:href="<%= image_url("icons.svg") %>#icon-edit"></use></svg>
              <% end %>
              <%= link_to new_code_submission_path(code), class: "list-item mrm", title: "Submit Graphic" do %>
                <svg class="icon icon-upload"><use xlink:href="<%= image_url("icons.svg") %>#icon-upload"></use></svg>
              <% end %>
              <%= link_to queue_code_path(code), method: :put, class: "list-item mrm", title: "Queue" do %>
                <svg class="icon icon-check"><use xlink:href="<%= image_url("icons.svg") %>#icon-check"></use></svg>
              <% end %>
              <%= link_to edit_code_path(code), method: :delete, class: "list-item", title: "Remove", data: {confirm: "Are you sure you want to remove the code \"#{code.title}\"?"} do %>
                <svg class="icon icon-cross"><use xlink:href="<%= image_url("icons.svg") %>#icon-cross"></use></svg>
              <% end %>
            </div>
          </div>
  <% end %>
        </div>
<% end %>
      </div>