      <div class="tac">
        <%= link_to omniauth_authorize_path(resource_name, :twitter), class: "db tdn tct tsxl mbm mtl" do %>
          <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
          Sign in with Twitter
        <% end %>

        <div class="mbl">or</div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="tsxl mbs">Sign in with E-mail</div>
          <div class="tal">
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true %>
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <div class="actions">
              <%= f.submit "Log in" %>
            </div>
          </div>
        <% end %>
      </div>