      <svg display="none" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
          <symbol id="icon-asterisk" viewBox="0 0 1024 1024">
            <title>asterisk</title>
            <path class="path1" d="M410.993 559.8l-223.058 296.458c-5.396 7.178-15.575 8.602-22.712 3.195l-59.75-45.138c-7.25-5.396-8.591-15.749-3-22.876l139.213-177.797c6.932-8.878 2.949-21.955-7.762-25.416l-221.491-71.997c-8.643-2.796-13.281-12.165-10.281-20.736l24.904-71.291c2.908-8.387 12.052-12.861 20.47-10.025l355.727 120.556c10.465 3.523 14.397 16.261 7.741 25.068zM435.405 429.189l-353.352-121.723c-8.612-2.939-13.076-12.401-9.902-20.931l25.907-69.868c3.103-8.346 12.298-12.626 20.695-9.615l211.128 75.889c10.557 3.809 21.688-4.024 21.688-15.227v-224.891c0-8.94 7.25-16.21 16.2-16.21h72.929c8.929 0 16.2 7.27 16.2 16.21v371.036c-0.020 11.141-10.977 18.954-21.494 15.329zM528.118 623.432l212.787 302.336c5.12 7.281 3.441 17.316-3.809 22.487l-63.939 45.66c-7.465 5.335-17.9 3.369-22.958-4.321l-121.928-186.296c-6.246-9.564-20.183-9.8-26.798-0.481l-132.495 187.699c-5.14 7.301-15.247 9.083-22.538 3.901l-65.536-45.957c-7.444-5.222-9.103-15.616-3.686-22.927l224.645-302.418c6.584-8.888 19.917-8.694 26.255 0.317zM568.699 413.102v-370.278c0-8.94 7.27-16.21 16.21-16.21h68.055c8.929 0 16.2 7.27 16.2 16.21v227.348c0 10.957 10.711 18.78 21.166 15.401l225.649-72.417c8.643-2.775 17.859 2.048 20.47 10.701l22.927 75.704c2.611 8.54-2.253 17.613-10.813 20.193l-358.963 108.861c-10.394 3.174-20.9-4.618-20.9-15.514zM624.323 532.244l355.533-105.769c8.366-2.509 17.193 2.13 19.978 10.414l22.108 66.304c2.898 8.745-2.048 18.156-10.906 20.685l-216.084 61.932c-10.752 3.113-15.237 15.903-8.714 25.016l135.864 190.003c5.294 7.322 3.523 17.562-3.871 22.682l-64.072 44.616c-7.322 5.1-17.388 3.297-22.487-3.973l-215.982-307.067c-6.38-9.042-1.987-21.709 8.632-24.842z"></path>
          </symbol>
          <symbol id="icon-twitter" viewBox="0 0 1024 1024">
            <title>twitter</title>
            <path class="path1" d="M1024 194.418c-37.676 16.708-78.164 28.002-120.66 33.080 43.372-26 76.686-67.17 92.372-116.23-40.596 24.078-85.556 41.56-133.41 50.98-38.32-40.83-92.922-66.34-153.346-66.34-116.022 0-210.088 94.058-210.088 210.078 0 16.466 1.858 32.5 5.44 47.878-174.6-8.764-329.402-92.4-433.018-219.506-18.084 31.028-28.446 67.116-28.446 105.618 0 72.888 37.088 137.192 93.46 174.866-34.438-1.092-66.832-10.542-95.154-26.278-0.020 0.876-0.020 1.756-0.020 2.642 0 101.788 72.418 186.696 168.522 206-17.626 4.8-36.188 7.372-55.348 7.372-13.538 0-26.698-1.32-39.528-3.772 26.736 83.46 104.32 144.206 196.252 145.896-71.9 56.35-162.486 89.934-260.916 89.934-16.958 0-33.68-0.994-50.116-2.94 92.972 59.61 203.402 94.394 322.042 94.394 386.422 0 597.736-320.124 597.736-597.744 0-9.108-0.206-18.168-0.61-27.18 41.056-29.62 76.672-66.62 104.836-108.748z"></path>
          </symbol>
          <symbol id="icon-facebook" viewBox="0 0 1024 1024">
            <title>facebook</title>
            <path class="path1" d="M672 192c-88.366 0-160 71.634-160 160v96h-128v128h128v448h128v-448h144l32-128h-176v-96c0-17.672 14.326-32 32-32h160v-128h-160z"></path>
          </symbol>
          <symbol id="icon-pinterest" viewBox="0 0 1024 1024">
            <title>pinterest</title>
            <path class="path1" d="M512.611 1.59c-281.976 0-510.562 228.589-510.562 510.561 0 281.977 228.586 510.561 510.562 510.561s510.56-228.584 510.56-510.561c0-281.972-228.585-510.561-510.56-510.561zM512.019 966.067c-46.795 0-91.93-7.094-134.405-20.243 18.506-30.15 46.171-79.573 56.423-118.998 5.517-21.232 28.277-107.903 28.277-107.903 14.801 28.228 58.040 52.127 104.036 52.127 136.905 0 235.541-125.9 235.541-282.34 0-149.956-122.375-262.159-279.833-262.159-195.881 0-299.917 131.498-299.917 274.686 0 66.566 35.442 149.454 92.138 175.847 8.601 4.002 13.2 2.239 15.181-6.065 1.502-6.31 9.16-37.143 12.604-51.487 1.103-4.579 0.562-8.519-3.146-13.015-18.751-22.74-33.779-64.575-33.779-103.589 0-100.107 75.809-196.984 204.96-196.984 111.516 0 189.603 75.99 189.603 184.667 0 122.792-62.009 207.869-142.691 207.869-44.56 0-77.91-36.849-67.218-82.037 12.8-53.956 37.595-112.181 37.595-151.126 0-34.864-18.708-63.939-57.435-63.939-45.547 0-82.134 47.119-82.134 110.233 0 40.199 13.582 67.384 13.582 67.384s-44.986 190.209-53.229 225.63c-9.126 39.214-5.544 94.3-1.574 130.214-168.857-66.142-288.499-230.388-288.499-422.688 0-250.688 203.228-453.913 453.92-453.913s453.915 203.225 453.915 453.913c0 250.693-203.224 453.916-453.915 453.916z"></path>
          </symbol>
          <symbol id="icon-dribbble" viewBox="0 0 1024 1024">
            <title>dribbble</title>
            <path class="path1" d="M765.666 226.346c-6.882 9.804-64.486 87.23-200.556 138.228-62.704-115.206-132.206-209.85-142.782-224.012 28.776-6.936 58.798-10.64 89.674-10.64 97.23 0 186.088 36.47 253.664 96.424zM538.752 515.924c-197.352 63.796-302.372 237.678-311.042 252.522-61.116-67.842-98.374-157.576-98.374-255.858 0-3.916 0.078-7.81 0.196-11.696 16.744 0.342 202.18 2.732 393.278-54.458 10.952 21.44 21.416 43.202 31.024 64.94-5.064 1.426-10.092 2.94-15.082 4.55zM512 0c-282.77 0-512 229.23-512 512s229.23 512 512 512 512-229.23 512-512-229.23-512-512-512zM512.002 960c-247.030 0-448.002-200.97-448.002-448 0-247.028 200.972-448 448.002-448 247.032 0 447.998 200.972 447.998 448 0 247.030-200.966 448-447.998 448zM619.918 476.902c-7.946-18.66-16.482-37.198-25.388-55.428 141.484-57.762 205.61-139.964 213.676-150.878 53.292 65.116 85.566 148.052 86.412 238.372-12.618-2.668-139.13-28.328-266.458-12.316-2.682-6.552-5.426-13.134-8.242-19.75zM491.188 387.588c-178.996 47.532-336.65 46.848-353.766 46.622 24.814-118.742 104.836-217.432 211.892-267.926 10.088 13.834 78.472 108.594 141.874 221.304zM577.32 575.5c0.84-0.292 1.68-0.564 2.522-0.852 53.724 139.606 75.942 256.612 81.636 290.186-45.946 19.568-96.466 30.41-149.476 30.41-88.464 0-170.002-30.184-234.882-80.78 6.886-14.078 84.364-163.754 300.2-238.964zM651.464 556.964c119.916-19.192 225.266 12.232 238.36 16.36-17.060 106.474-78.172 198.428-164.020 256.472-3.922-23.276-24.288-135.294-74.34-272.832z"></path>
          </symbol>
          <symbol id="icon-instagram" viewBox="0 0 1024 1024">
            <title>instagram</title>
            <path class="path1" d="M854 0h-684c-93.5 0-170 76.5-170 170v684c0 93.5 76.5 170 170 170h684c93.5 0 170-76.5 170-170v-684c0-93.5-76.5-170-170-170zM327.8 448h368.4c6.988 20.058 10.8 41.59 10.8 64 0 107.524-87.476 195-195 195s-195-87.476-195-195c0-22.41 3.812-43.942 10.8-64zM896 448.050v383.95c0 35.2-28.8 64-64 64h-640c-35.2 0-64-28.8-64-64v-384h100.108c-4.642 20.602-7.108 42.016-7.108 64 0 160.458 130.542 291 291 291s291-130.542 291-291c0-21.984-2.464-43.398-7.108-64l100.108 0.050zM896 224c0 17.6-14.4 32-32 32h-64c-17.6 0-32-14.4-32-32v-64c0-17.6 14.4-32 32-32h64c17.6 0 32 14.4 32 32v64z"></path>
          </symbol>
          <symbol id="icon-behance" viewBox="0 0 1024 1024">
            <title>behance</title>
            <path class="path1" d="M413.286 476.211c0 0 96.87-7.526 96.87-125.901 0-118.528-79.258-176.179-179.712-176.179h-330.445v661.811h330.445c0 0 201.779 6.605 201.779-195.379-0.051-0.051 8.755-164.352-118.938-164.352zM145.613 291.686h184.832c0 0 44.954 0 44.954 68.813 0 68.915-26.419 78.899-56.422 78.899h-173.363v-147.712zM321.075 718.285h-175.462v-176.896h184.832c0 0 66.97-0.922 66.97 90.88 0 77.414-50.022 85.453-76.339 86.016zM801.229 342.426c-244.275 0-244.070 254.31-244.070 254.31s-16.691 252.979 244.070 252.979c0 0 217.242 13.005 217.242-175.974h-111.718c0 0 3.686 71.219-101.786 71.219 0 0-111.821 7.782-111.821-115.2h328.858c0.051-0.051 36.301-287.334-220.774-287.334zM900.608 541.389h-208.589c0 0 13.619-101.99 111.718-101.99s96.87 101.99 96.87 101.99zM926.566 212.992h-261.99v81.613h261.99v-81.613z"></path>
          </symbol>
        </defs>
      </svg>
<% unless current_page?(controller: "/pages", action: "coming_soon") %>
      <header class="header">
        <nav class="nav list list--inline list--flex">
  <% if current_page?(controller: "/pages", action: "gallery") %>
          <!-- <%= link_to "Gallery", gallery_path, class: "nav-item list-item is-active" %> -->
  <% else %>
          <!-- <%= link_to "Gallery", gallery_path, class: "nav-item list-item" %> -->
  <% end %>
          <%= link_to root_path, class: "nav-item nav-feature list-item " do %>
            Gurl C<svg class="icon icon-asterisk"><use xlink:href="#icon-asterisk"></use></svg>de
          <% end %>
  <% if current_page?(controller: "/pages", action: "about") %>
          <!-- <%= link_to "About", about_path, class: "nav-item list-item is-active" %> -->
  <% else %>
          <!-- <%= link_to "About", about_path, class: "nav-item list-item" %> -->
  <% end %>
        </nav>
        <div class="header-tab"></div>
      </header>
<% end %>