      <svg display="none" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
          <symbol id="icon-asterisk" viewBox="0 0 1024 1024">
            <title>asterisk</title>
            <path class="path1" d="M410.993 559.8l-223.058 296.458c-5.396 7.178-15.575 8.602-22.712 3.195l-59.75-45.138c-7.25-5.396-8.591-15.749-3-22.876l139.213-177.797c6.932-8.878 2.949-21.955-7.762-25.416l-221.491-71.997c-8.643-2.796-13.281-12.165-10.281-20.736l24.904-71.291c2.908-8.387 12.052-12.861 20.47-10.025l355.727 120.556c10.465 3.523 14.397 16.261 7.741 25.068zM435.405 429.189l-353.352-121.723c-8.612-2.939-13.076-12.401-9.902-20.931l25.907-69.868c3.103-8.346 12.298-12.626 20.695-9.615l211.128 75.889c10.557 3.809 21.688-4.024 21.688-15.227v-224.891c0-8.94 7.25-16.21 16.2-16.21h72.929c8.929 0 16.2 7.27 16.2 16.21v371.036c-0.020 11.141-10.977 18.954-21.494 15.329zM528.118 623.432l212.787 302.336c5.12 7.281 3.441 17.316-3.809 22.487l-63.939 45.66c-7.465 5.335-17.9 3.369-22.958-4.321l-121.928-186.296c-6.246-9.564-20.183-9.8-26.798-0.481l-132.495 187.699c-5.14 7.301-15.247 9.083-22.538 3.901l-65.536-45.957c-7.444-5.222-9.103-15.616-3.686-22.927l224.645-302.418c6.584-8.888 19.917-8.694 26.255 0.317zM568.699 413.102v-370.278c0-8.94 7.27-16.21 16.21-16.21h68.055c8.929 0 16.2 7.27 16.2 16.21v227.348c0 10.957 10.711 18.78 21.166 15.401l225.649-72.417c8.643-2.775 17.859 2.048 20.47 10.701l22.927 75.704c2.611 8.54-2.253 17.613-10.813 20.193l-358.963 108.861c-10.394 3.174-20.9-4.618-20.9-15.514zM624.323 532.244l355.533-105.769c8.366-2.509 17.193 2.13 19.978 10.414l22.108 66.304c2.898 8.745-2.048 18.156-10.906 20.685l-216.084 61.932c-10.752 3.113-15.237 15.903-8.714 25.016l135.864 190.003c5.294 7.322 3.523 17.562-3.871 22.682l-64.072 44.616c-7.322 5.1-17.388 3.297-22.487-3.973l-215.982-307.067c-6.38-9.042-1.987-21.709 8.632-24.842z"></path>
          </symbol>
        </defs>
      </svg>
      <header class="header">
        <nav class="nav list list--inline list--flex">
<% if current_page?(controller: "pages", action: "gallery") %>
          <%= link_to "Gallery", gallery_path, class: "nav-item list-item is-active" %>
<% else %>
          <%= link_to "Gallery", gallery_path, class: "nav-item list-item" %>
<% end %>
          <%= link_to root_path, class: "nav-item nav-feature list-item " do %>
            Gurl C<svg class="icon icon-asterisk"><use xlink:href="#icon-asterisk"></use></svg>de
          <% end %>
<% if current_page?(controller: "pages", action: "about") %>
          <%= link_to "About", about_path, class: "nav-item list-item is-active" %>
<% else %>
          <%= link_to "About", about_path, class: "nav-item list-item" %>
<% end %>
        </nav>
      </header>