<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title><%= content_for?(:title) ? content_for(:title) : "Gurl Code" %></title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <!--[if lte IE 9]>
      <%= stylesheet_link_tag "ie", media: "all", "data-turbolinks-track" => true %>
    <![endif]-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="main por">
<%= render 'layouts/header' %>
<%= render 'layouts/messages' %>
<%= yield %>
<%= render 'layouts/footer' %>
    </div>
  </body>
</html>